<div class="container m-5">
  <div class="row">
    <div class="col">
      <%= form_tag({action: :update,}, multipart: true, method: :patch) do %>
         Spreadheet: <%= file_field_tag 'spreadsheet' %>
         <br>
	 Token: <input name="token"><br>
         <%= submit_tag 'Submit' %>
      <% end %>
    </div>
  </div>
</div>

